[Unit]
Description=uclock widget
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/vittorioguerriero/.local/bin/uclock
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
